<h1>simple string reversal service</h1>
<p>this page lets you enter a string which will be reversed; try a palindrome</p>
<form action="/display" method="post" accept-charset="utf-8">
<input type="text" name="post[input_string]" value="Enter a string which will be reversed" id="input_string" /><br />
<input type="submit" value=".. and display the result...">
</form>
