<h1>string reversing service</h1>
<p>You had entered:</p>
<p>Original String <%= params[:post][:input_string] %></p>
<p>This is your string reversed:</p>
<p>Reversed String <%= params[:post][:input_string].reverse %></p>
<p>Click <a href="/">here</a> to enter another string.</p>
